<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head') %>
    <title>ERP - Customer</title>
  </head>
  <body>
    <%- include('../../partials/sidebar') %>
    <main>
      Customer Page
    </main>
  </body>
</html>
