<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head') %>
    <title>ERP - Customers</title>
    <script src="/js/customersPanel.js" type="text/javascript" defer></script>
  </head>
  <body>
    <%- include('../../partials/sidebar') %>
    <main>
      <section>
        <h2>Customers</h2>
        <%- include('../../components/customersPanel', { customers }) %>
      </section>
    </main>
  </body>
</html>
