<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head') %>
    <title>ERP - Customers</title>
  </head>
  <body>
    <%- include('../../partials/sidebar') %>
    <main>
      <section>
        <h2>Customers</h2>
        <%- include('../../components/customersPanel') %>
      </section>
    </main>
  </body>
</html>
