<aside class="sidebar">
  <h1>Techfab ERP</h1>
  <nav>
    <ul>
      <li><a href="/"><img src="/assets/home_3917033.svg">Home</a></li>
      <li><a href="/customers"><img src="/assets/users-alt_5069162.svg">Customers</a></li>
      <li><a href="/orders"><img src="/assets/shopping-cart-check_3916609.svg">Orders</a></li>
      <li><a href="/inventory"><img src="/assets/boxes_7857446.svg">Inventory</a></li>
      <li><a href="/production"><img src="/assets/industry-windows_9239802.svg">Production</a></li>
      <li><a href="/employees"><img src="/assets/id-card-clip-alt_9856345.svg">Employees</a></li>
    </ul>
  </nav>
</aside>