<div class="panel">
  <div class="search-bar">
    <input placeholder="Search">
    <button class="search-clear">
      <img src="/assets/cross_3917759.svg">
    </button>
    <button class="search-button">
      <img src="/assets/search_3917754.svg">
    </button>
  </div>
  <ol>
    <% customers.sort((a, b) => a.status.length - b.status.length).map((customer, i) => { %>
      <li class="client-list-item">
        <div class="client-holder">
          <div class="client-data" tabindex="0">
            <span>
              <h3><%= customer.name %></h3>
              <h4><%= customer.email %></h4>
            </span>
            <% if (customer.status === 'archived' ) { %>
              <div class="client-status">
                <%= customer.status %>
              </div>
            <% } %>
            <span class="client-toggle-options">
              <img src="/assets/caret-down_3916943.svg">
            </span>
          </div>
          <div class="client-options">
            <a href="customers/<%= customer.id %>" tabindex="0">
              <img src="/assets/arrow-up-right-from-square_8535544.svg">
              Panel
            </a>
          </div>
        </div>
      </li>
    <% }) %>
  </ol>
</div>
